body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 0;
    color: white;
}

/* navbar */
.jumbotron {
    background-color: rgb(104, 104, 248);
    padding: 60px;
    text-align: center;
}

nav {
    background-color: rgb(79, 79, 197);
    padding: 5px;
}

nav ul {
    display: flex;
    justify-content: center;
}

nav li {
    display: inline-block;
    margin-right: 50px;
}

li a {
    text-decoration: none;
    color: white;
}

li a:hover {
    background-color: rgb(126, 126, 214);
    padding: 3px 10px;
    margin: -3px -10px;
    border-radius: 20px;
}

/* end navbar */

/* main */
main {
    display: flex;
}

article {
    /* background-color: orange; */
    color: black;
    padding: 40px;
}

.sidebar {
    /* background-color: rgb(109, 109, 211); */
    color: black;
    padding: 40px;
}

/* end main */

/* footer */
footer {
    background-color: rgba(0, 0, 0, .9);
    padding: 20px;
    text-align: center;
}

/* end footer */